
    <h1 class="display-4  font-weight-bold">Secciones </h1>
    <div class="container">
      <div class="row">
          <button type="button" class="btn btn-outline-success" [routerLink]="['/administrador/secciones-form', 'nuevo-'+uri]">Agregar</button>
          </div>
  </div>
  
  <hr class="my-4">
  
  <div class="row">
      <table class="table table-striped ">
          <thead class="bg-info">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Inicio</th>
              <th scope="col">Fin</th>
              <th scope="col">Curso</th>
              <th scope="col">Semestre</th>
              <th scope="col">Año</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let seccion of secciones">
              <th scope="row">{{seccion.idSeccion}}</th>
              <td>{{seccion.nombre}}</td>
              <td>{{seccion.horaInicio}}</td>
              <td>{{seccion.horaFin}}</td>
              <td>{{seccion.curso}}</td>
              <td>{{seccion.semestre}}</td>
              <td>{{seccion.anio}}</td>
              <td>
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                      <button type="button" class="btn btn-outline-dark" (click)="eliminarSeccion(seccion.idSeccion)"><i class="material-icons ">delete</i></button>
                  <button type="button" class="btn btn-outline-secondary" [routerLink]="['/administrador/secciones-form', seccion.idSeccion]"><i class="material-icons right">edit</i></button>   
                </div>
                  
              </td>
            </tr>
          </tbody>
        </table>
  </div>