<h1 class="display-4  font-weight-bold">Actividad </h1>
<hr class="my-4">
<div class="row">
  <div class="col-8">
    <form [formGroup]="actividadForm" (ngSubmit)="agregarActividad()">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Nombre" formControlName="nombre">
      </div>
      <div class="row">
        <div class="form-group col-sm">
          <label for="carnet">Ponderación</label>
          <input type="number" class="form-control" id="hioraInicio" formControlName="ponderacion">
        </div>
      </div>

      <div class="row justify-content-md-center">
        <button type="submit" class="btn btn-outline-secondary">Guardar
          <i class="material-icons right">how_to_reg</i>
        </button>
      </div>
    </form>
  </div>

</div>