<ion-header>
  <ion-toolbar>
    <ion-title>registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registroForm" (ngSubmit)="agregarUsuario()">
    <ion-item class="form-group">
        <ion-label  position="floating" for="nombre">Nombre</ion-label>
        <ion-input type="text" class="form-control" id="nombre" 
            formControlName="nombre"></ion-input>
    </ion-item>
    <ion-item class="form-group">
        <ion-label  position="floating" for="carnet">Carnet</ion-label>
        <ion-input type="text" class="form-control" id="carnet" 
            formControlName="carnet"></ion-input>
    </ion-item>
    <ion-item class="form-group">
        <ion-label   position="floating"for="correo">Correo</ion-label>
        <ion-input type="email" class="form-control" id="correo" 
            formControlName="correo"></ion-input>
    </ion-item>
    <ion-item class="form-group">
        <ion-label  position="floating" for="pass">Contraseña</ion-label>
        <ion-input type="password" class="form-control" id="pass" 
            formControlName="pass"></ion-input>
    </ion-item>
    <ion-item class="row justify-content-md-center">
        <ion-button type="submit" class="btn btn-outline-secondary">Registrarme 
        </ion-button>
    </ion-item>
</form>
</ion-content>
