<app-slidenav-admin></app-slidenav-admin>
<div class="row ">
    <div class="col-1 bg-dark" style="height: 600px;">
        <div class="list-group list-group-flush">
            <div class="row ">
                <a href="#" [routerLink]="['/administrador/usuarios']" class="list-group-item list-group-item-action bg-dark text-light ">
                    <div class="container">
                            <i class="material-icons ">supervisor_account</i>
                            <br>
                            Usuarios
                    </div>
                    
                </a>
            </div>
            <div class="row ">
                <a href="#" [routerLink]="['/administrador/cursos']" class="list-group-item list-group-item-action bg-dark text-light ">
                    <div class="container">
                            <i class="material-icons">class</i>
                            
                    <br>
                    Cursos
                    </div>
                </a>
            </div>
            <div class="row ">
                <a href="#" [routerLink]="['/administrador/auxiliares']" class="list-group-item list-group-item-action bg-dark text-light">
                    <div class="container">
                            <i class="material-icons">assignment_ind</i>
                            <br>
                            Auxiliares
                    </div>
                    
                </a>
            </div>


        </div>
    </div>
    <div class="col-11" >
        <div class="container">            
        <router-outlet></router-outlet>
        </div>
    </div>

</div>

<!--style="background-image: url('./../../assets/resources/text2.jpg'); background-size: cover;"-->